@charset "UTF-8";
/*Mixin*/
header {
  background-color: white;
  color: #2196f3;
  font-size: solid;
  padding: 10px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 50px;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
ul li .nav-link {
  text-decoration: none;
  color: #2196f3;
}
ul li .nav-link:hover {
  background-color: blanchedalmond;
}

.main-index {
  background-image: url(../assets/img/portada.imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portada {
  height: 50vh;
  display: flex;
  margin: 5px;
  align-items: center;
}
.portada h1 {
  text-align: center;
  color: #0a0272;
}
.portada p {
  padding: 10px;
  margin: 5px;
  text-align: justify;
}
.portada div {
  background-color: rgba(33, 149, 243, 0.2862745098);
  color: #0a0272;
  font-size: 1rem;
  margin-top: auto;
  padding: 20px;
}

.prepagas {
  margin-top: 150px;
  padding: 60px;
  text-align: center;
}
.prepagas div img {
  width: 200px;
  display: inline;
}
.prepagas form button {
  margin: 30px;
}

@media (max-width: 850px) {
  header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav {
    width: 100%;
  }
  .main-index {
    height: auto;
  }
  .prepagas {
    margin-top: 280px;
  }
}
@media (max-width: 450px) {
  .prepagas {
    margin-top: 550px;
  }
}
.main-info {
  background-image: url(../assets/img/imagen-portada2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info div {
  color: rgb(254, 254, 255);
  font-size: 1rem;
  padding: 10px;
}
.main-info form {
  background-color: #0a0272;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.main-info form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info h1 {
  text-align: center;
  color: #2196f3;
  padding: 10px;
}

.primera-consulta {
  background-color: #2196f3;
  color: white;
  padding: 20px;
  width: auto;
}
.primera-consulta h3 {
  text-align: center;
}
.primera-consulta p {
  margin: 20px;
  text-align: justify;
}

@media (max-width: 450px) {
  .main-info {
    height: auto;
  }
  .formulario {
    width: 100%;
  }
  .formulario form {
    height: 850px;
  }
}
.main-contacto {
  height: 100vh;
  color: white;
  font-size: 1rem;
}

.formulario-contacto {
  margin: 60px;
  height: 650px;
}
.formulario-contacto h1 {
  text-align: center;
  color: #2196f3;
  margin-top: 20px;
}
.formulario-contacto form {
  color: #2196f3;
  width: 400px;
  padding: 30px;
  margin: auto;
}
.formulario-contacto input {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2px;
}

.atencion-contacto {
  background-color: #2196f3;
  height: 650px;
  margin: 60px;
  padding: 10px;
  color: white;
}
.atencion-contacto h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.atencion-contacto p {
  margin: 70px;
}

@media (max-width: 450px) {
  .formulario-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .formulario-contacto form {
    width: 250px;
  }
  .atencion-contacto {
    height: max-content;
  }
}
@media (max-width: 990px) {
  .main-contacto {
    height: 220vh;
  }
}
.titulo {
  background: linear-gradient(#2196f3, white);
  height: 15vh;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 10px;
}

.main-calendario {
  height: 140vh;
  background-image: none;
  color: #2196f3;
}
.main-calendario div {
  display: flex;
  flex-direction: row;
}

.inmunización {
  text-align: justify;
  padding: 20px;
}
.inmunización img {
  width: 100%;
  margin-top: 60px;
}
.inmunización h2, .inmunización h4 {
  text-align: center;
  margin: 10px 0;
}
.inmunización p, .inmunización form {
  margin-top: 20px;
}

.oms {
  text-align: justify;
  width: 100%;
  padding: 20px;
}
.oms h2 {
  text-align: center;
  margin: 10px;
}
.oms img {
  margin-top: 20px;
  width: 100%;
}
.oms iframe {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-calendario {
    height: max-content;
  }
}
.header-turnos {
  height: 22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-turnos img {
  text-align: center;
}

.main-turnos {
  height: 150vh;
  background-color: #DCE2F2;
  background-image: none;
}
.main-turnos h1 {
  text-align: center;
  color: #2196f3;
}

#turnos h5 {
  height: max-content;
  color: #2196f3;
}
#turnos div {
  padding: 20px;
}
#turnos div iframe {
  width: max-content;
}

@media (max-width: 650px) {
  .main-turnos {
    height: max-content;
    margin-top: 20px;
  }
  .tarjetas-consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
}
@media (min-width: 650px) {
  .header-turnos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  .main-turnos {
    height: max-content;
  }
  #turnos {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  #turnos div {
    margin: 10px;
  }
  #turnos div iframe {
    width: max-content;
  }
}
@media (max-width: 550px) {
  #turnos div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
