* {
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
/*--- INICIO ---*/
header {
    background-color:white;
    color:#2196f3;    
    font-size: solid;
    padding: 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
header img{
    width: 50px;
}
header nav ul li{
    display: inline-block;
    list-style: none;    
}
header nav{
    width: 50%;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li a{
    color:#2196f3;
    text-decoration: none;
}
.nav-link:hover{
    background-color: blanchedalmond;
}
/*---MAIN INICIO---*/
.main-index{
    border: 2px solid;
    border-color: #2196f3;
    background-image: url(../assets/img/imagen-portada2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.portada{ 
    grid-area: portada;  
    height: 50vh;     
    display: flex;
    margin: 5px;
    align-items: center;    
}
.portada h1{
    text-align: center;
}
.portada p{
    padding: 10px;
    margin: 5px;
    text-align: center;   
}
.portada div{
    color: rgb(254, 254, 255);
    font-size: 1rem;
    background-color: #095cafbb;
    margin-top: auto;
    padding: 20px;        
}
.prepagas{
    margin-top: 100px;
    padding: 60px;
    text-align: center;      
}
.prepagas div img{
    width: 200px;
    height: 110px;   
    display: inline;    
}
/*---FOOTER INICIO---*/
footer{
    height: 15vh;    
}
footer iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.ubicacion div{
    display: inline-block;
}
@media(max-width: 850px){
    header{
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    header nav{
        width: 100%;
    }
    .main-index{
    height: auto;
    }
    .prepagas{
        margin-top: 240px;
    }
}
@media(max-width: 450px){
    .prepagas{
        margin-top: 450px;
    }
}
/*---INFO PACIENTES---*/
/*---MAIN INFO PACIENTES---*/
.main-info{
    border: 2px solid;
    border-color: #2196f3;
    background-image: url(../assets/img/imagen-portada2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    flex-direction: column;      
}
.main-info div{
    color: rgb(254, 254, 255);
    font-size: 1rem;    
    padding: 10px;       
}
.main-info form{
    background-color: #166cc26c;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.main-info form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-info h1{
    text-align: center;
    color: #2196f3;
    padding: 10px;
}
@media(max-width: 450px){
    .main-info{
        height: 110vh;
    }
    .formulario{
        width: 100%;
    }
    .formulario form{
        height: 700px;
    }
}
/*---FOOTER INFO PACIENTES---*/
.footer-info{
    background: linear-gradient(rgba(158, 156, 156, 0.63),#2196f3);
    height: 10vh;
}
/*---CONTACTO---*/
/*---MAIN CONTACTO---*/
.main-contacto{
    border: 2px solid;
    border-color: #2196f3;
    height: 100vh;
    color:white;
    font-size: 1rem;
}
.formulario-contacto{
    /* border: 2px solid #2196f3;
    border-radius: 10px; */
    margin: 60px;
    height: 650px;
}
.formulario-contacto h1{
    text-align: center;
    color:#2196f3;
    margin-top: 20px;
}
.formulario-contacto form{
    color: #2196f3;
    width: 400px;
    padding: 30px;
    margin: auto;
}
.formulario-contacto input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2px;
}
.atencion-contacto{
    background-color: #2196f3;
    height: 650px;
    margin: 60px;
    padding: 10px;
    color: white
}
.atencion-contacto h1{
    color: white;
    text-align:center;
    margin-top: 20px;
}
.atencion-contacto p{
    margin: 70px;
}
@media(max-width: 450px){
    .formulario-contacto{
        width: 100%; 
    }
    .formulario-contacto form{
        width: 250px;
    } 
}
/*---FOOTER CONTACTO---*/
.footer-contacto{
    background: linear-gradient(white,#2196f3);
    height: 10vh;   
}
/*---CALENDARIO DE VACUNACIÓN---*/
/*---MAIN CALENDARIO---*/

.titulo{
    background: linear-gradient(#2196f3, white);
    height: 15vh;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 10px;
}
.main-calendario{
    height: 150vh;
    background-image: none;
    color: #2196f3;
}
.main-calendario div{
    display: flex;
    flex-direction: row;
}
.inmunización{
    text-align:justify;
    padding: 20px;
    
}
.inmunización img{
    width: 100%;
    margin-top: 60px;
}
.inmunización h2,
.inmunización h4{
    text-align: center;
    margin: 10px 0;
}
.inmunización p,
.inmunización form{
    margin-top: 20px;
}
.oms{
    text-align:justify;
    width: 100%;
    padding: 20px;  
}
.oms h2{
    text-align: center;
    margin: 10px;
}
.oms img{
    margin-top: 20px;
    width: 100%;
}
.oms iframe{
   margin-top: 20px;
   width: 100%;
}
@media(max-width: 768px){
    .main-calendario{
        height: max-content;
    }
}
/*---FOOTER CALENDARIO---*/
.footer-calendario{
    background: linear-gradient(white,#2196f3);
    height: 10vh;   
}
/*---TURNOS---*/
/*---HEADER TURNOS---*/
.header-turnos{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-turnos nav{
    width: 100%;
}
.header-turnos nav ul{
    display: flex;
    justify-content: space-evenly;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-turnos img{
    text-align: center;
}
/*---MAIN TURNOS---*/
.main-turnos{
    height: 150vh;
    background-image: none;
    border: 2px solid #2196f3;
}
.main-turnos h1{
    text-align: center;
    color:#2196f3
}
#turnos div{
    padding: 20px;
}
.consulta{
    background-color: #2195f365;
    width: 220px;
    padding: 20px;
    border: 2px solid #2196f3;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 425px;
    margin-top: 5px;
    transition-duration: 0.1s;
}
.consulta h3{
    text-align: center;
}
.consulta img{
    width: 100%;
    height: 150px;
}
.consulta p{    
    margin-block: 15px;
}
.consulta a{
    display: inline-block;
    text-decoration: none;
    border: solid 3px black;
    padding: 3px 5px;  
    background-color: #2196f3;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.consulta a:hover{
    background-color: rgba(255, 235, 205, 0.308);
}
.consulta:hover{
    transform: scale(1.1);
}
/*---FOOTER TURNOS---*/
.footer-turnos{
    background: linear-gradient(white,#2196f3);
    height: 8vh;
}
@media(max-width: 650px){
    .main-turnos{
        height: auto;
    }
    .tarjetas-consulta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width: 650px){
    .header-turnos{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh
    }
    .header-turnos nav{
        width: 60%;
    }
    .main-turnos{
        height: 90vh;
    }
    #turnos{
        padding: 50px;
    }
    .tarjetas-consulta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .col-lg-4{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .footer-turnos{
        height: 10vh;
    }
}

