header {
    background-color:white;
    color: $color-principal;    
    font-size: solid;
    padding: 10px;
    height: 10vh;
    @include flexRow;
    img{
        width: 50px;
    }   
}
ul {
    list-style: none;
    li {
        display: inline-block;
        .nav-link {
            text-decoration: none;
            color: $color-principal;
            &:hover {
                background-color: blanchedalmond;
            }
        }
    }
}
.main-index{
    background-image: url(../assets/img/portada.imagen.jpg);
    @include backImage;
}
.portada{
    height: 40vh;     
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center; 
    h1{
        text-align: center;
        color: $color-secundario;
    }
    p{
        padding: 10px;
        margin: 5px;
        text-align:justify;  
    }
    div{
        background-color: $color-background;
        color: $color-secundario;
        font-size: 1rem;
        margin-top: auto;
        padding: 15px;  
    }
    img{
        float: right;
        padding-left: 15px;
        width: 250px;
        height: 250px;
    }
}
.prepagas{
    margin-top: 200px;
    padding: 60px;
    text-align: center;
    div img{
        width: 200px;  
        display: inline;    
    }
    form button{
        margin: 30px;
    }
}
@media(max-width: 850px){
    header{
        height: 20vh;
        @include flexColumn;
        nav{
            width: 100%;
        }
    }
    .main-index{
    height: auto;
    }
    .prepagas{
        margin-top: 280px;
    }
}
@media(max-width: 450px){
    .prepagas{
        margin-top: 500px;
    }
}

