ul {
    list-style: none;
    li {
        display: inline-block;
        a {
            text-decoration: none;
            color: $color-principal;
            &:hover {
                background-color: blanchedalmond;
            }
        }
    }
}