$color-principal: #2196f3;
$color-secundario: #0a0272;
$color-background: #2195f349;

@mixin flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items:center;
}
@mixin backImage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin fontSize($size, $weight){
    font-size: $size;
    font-weight: $weight;

}
.letraChica {
    @include fontSize(1rem, 100);
}
.letraMediana {
    @include fontSize(1.5rem, 400);
}